
.contenedorDeLogos{
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 10;
}	
.fa-plus-circle{
	font-size: 60px;
    color: #FA8072;
    transition: all 300ms;
    transform: translate(2px);
}

.contenedorDeLogos:hover .fa-plus-circle{
    transform: rotate(180deg)
}

.row-icon{	
	position: absolute;
	display: flex;/*avarca todo el contenedor padre*/
    justify-content: flex-end;
    transition: all 300ms;
    opacity: 0;
    padding: 9px;
}
.contenedorDeLogos:hover .row-icon{
    opacity: 1;
}
.ic {
	font-size: 35px;
}

.fa-facebook-square{
    color:#3b5999;
}

.fa-twitter-square{
color: #1da1f2;
}

.fa-instagram {
color: #e4405f;
}


.row-icon h4{
    transform: translate(-8px, 6px);
    background-color: black;
    height: 25px;
    font-weight: 50px;
    padding: 2px 2px;
    color: white;
    border-radius: 5px; 
}
.icono1{
    transform: translate(-110px, 70px) scale(0);
}

.icono2{
	transform: translate(-5px, 150px) scale(0)
}
    
.icono3{
    transform: translate(-98px, 250px) scale(0)
}


.contenedorDeLogos:hover .icono1{
    transform: translate(-71px, 60px) scale(1)
}

.contenedorDeLogos:hover .icono2{
	transform: translate(-50px, 110px) scale(1)
}
    
.contenedorDeLogos:hover .icono3{
    transform: translate(-83px, 160px) scale(1)
}

 
 


/*
.redes{
	position:absolute;
	width:42px;
	height:42px;
	background:#ccc;
    border-radius:100%;
    border: none;
}
#icono1{
	top:42px;
    right:120px;   
    background: url( img/Facebook.png) center;
    background-size: 44px 44px;    
	}
	
#icono2{
	top:42px;
    right:71px;
    background: url(img/instangram.jpg) center;
    background-size: 43px 43px;

	}
	
#icono3{
	top:42px;
    right:19px;
    background: url(img/twtr.png) center;
    background-size: 43px 43px;
    }
   */ 